.bg-resize {
    background-color: var(--primary)
}

.bg-resize .navbar-nav{
    background-color: var(--dark)
}

.thumb {
    background-color: var(--white)
}

.thumb-active {
    border: 2px solid var(--primary); 
    border-radius: 5px;
}

@media(min-width: 768px){
    .bg-resize .navbar-brand{
        background-color: var(--primary)
    }

    .bg-resize {
        background-color: var(--dark)
    }

    .thumb:hover {
        border: 1px solid #dee2e6; 
    }

    .thumb-active:hover {
        border: 2px solid var(--primary); 
    }
}