.bg-resize {
    background-color: var(--primary)
}

@media(min-width: 768px){
    .bg-resize .navbar-brand{
        background-color: var(--primary)
    }
    
    .bg-resize {
        background-color: var(--dark)
    }
}