.bi-globe {
    bottom: 2px;
    position: relative;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 1rem;
}

.navbar-nav{
    padding: 0 1rem;
}

.nav-item svg{
    bottom: 2px;
    position: relative;
}

.thumb{
    padding: 5px;
}

.versus {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    white-space: nowrap;
}

.table-card {
    overflow-y: scroll;
    overflow-x: auto;
    height: 20rem;
}

.table-card .table th{
    position: sticky;
    top: 0px;
}

.table-card .table th:nth-child(2),
.table-card .table td:nth-child(2){
    position: sticky;
    left: 0px;    
} 

.table-card .table th:nth-child(2){
    z-index: 2;
}

.table-card .table td:nth-child(2){
    z-index: 1;
}

.table-card .table td:nth-child(2){
    box-shadow: -.1px 0 inset black;
    background-clip: padding-box;
}

@media(min-width: 768px){
    .thumb{
        transition: transform .2s;
    }

    .thumb:hover {
        position: relative;
        transform: scale(1.4);
        z-index: 1!important;
        border-radius: 2px;
    }

    .nav-item:hover svg{
        display: inline-block;
    }

    .nav-item svg{
        display: none;
    }
}