.bi-globe {
    bottom: 2px;
    position: relative;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 1rem;
}

.navbar-nav{
    padding: 0 1rem;
}

.nav-item svg{
    bottom: 2px;
    position: relative;
}

.thumb{
    padding: 5px;
}

@media(min-width: 768px){
    .thumb{
        transition: transform .2s;
    }

    .thumb:hover {
        position: relative;
        transform: scale(1.4);
        z-index: 1!important;
        border-radius: 2px;
    }

    .nav-item:hover svg{
        display: inline-block;
    }

    .nav-item svg{
        display: none;
    }
}