.bi-globe {
    bottom: 2px;
    position: relative;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 1rem;
}

.navbar-nav{
    padding: 0 1rem;
}

.nav-item:hover svg{
    display: inline-block;
}

.nav-item svg{
    display: none;
    bottom: 2px;
    position: relative;
}